body
{
  margin:0;
  padding: 0;
  font-family: "Source Sans Pro";
  font-size: 82.5%;
}

.none
{
  display: none;
}

.wrapper
{
  width: 96%;
  padding: 0 2%;
  margin: 0 auto;
  max-width: 960px;
  font-size: 1.5em;
}

header
{
  text-align: center;
  background-color:#FCDB00;
}

header nav
{
  position: absolute;
  top:0;
}

header nav button
{
  margin:0;
  padding: 0;
  margin: 30px 0 0 10px;
  background: 0;
  border: 0;
  float: left;
}

header h1
{
  margin: 0 auto;
  padding: 70px 0 0;
}



header .header-desc
{
  font-size: 0.8em;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0 0;
}

header .header-title
{
  margin:0;
  padding: 180px 0 0;
}

header button
{
  background: #666666;
  font-weight: 900;
  border: 0;
  padding: 15px 50px;
  margin: 30px 0;
}

header ul
{
  width: 100%;
  padding: 0;
}

header li
{
  display: inline-block;
  list-style-type: none;
  float:left;
  width: 25%;
  margin:20px 0;
}

header h2:before
{
  display: block;
  content: "";
  clear: both;
}

header a.scroll-down
{
  display: block;
  padding: 60px 0 40px;
}

article .article-title
{
  text-align: center;
  font-size:1.5em;
  padding: 40px 0 10px;
}

article .article-desc
{
  text-align: center;
  color: #898989;
  font-size:0.9em;
  margin-bottom: 40px;
}

article ul.feature-list
{
  padding: 0;
}

article .feature-list li
{
  width: 96%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
}

article .feature-list img
{
  margin: 0 auto;
  padding: 0 2%;
  display: block;
  max-height: 35px;
  width: auto;
}


article .feature-list p
{
  color: #898989;
  font-size: 0.8em;
}

article ul.pricing-list
{
  padding: 0;
}

article ul.pricing-list li
{
  width: 96%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
}


ul.pricing-list span
{
  width: 80px;
  height:80px;
  background: #999999;
  display: block;
  margin: 0 auto;
  border-radius: 40px;
}

ul.pricing-list > li:nth-child(2) > span
{
  background: #000000;
}

ul.pricing-list span > img
{
  position: relative;
  top: 25%;
}

ul.pricing-list p.pricing-desc
{
  color: #898989;
  font-size:0.8em;
}

ul.pricing-list p.pricing-value
{
  font-weight: 700;
  margin-bottom: 5px;
}

ul.pricing-list p.pricing-value:after
{
  width: 40px;
  height: 3px;
  border-top: 2px solid #000000;
  display: block;
  content: "";
  margin: 0 auto;
}

article .pricing-list .period-time
{
  margin:2px;
  font-size: 0.7em;
  color:#898989;
}

article .pricing-list .pricing-button
{
  width:180px;
  height: 40px;
  margin: 15px 0 40px;
  border: 2px solid #000000;
  background: 0;
  font-weight: 700;
}

article ul.done-works
{
  margin: 0;
  padding: 0;
  width: 100%;
}

article ul.done-works li
{
  width: 96%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
}

article ul.done-works h3
{
  margin: 10px 0;
}

article ul.done-works p
{
  color:#898989;
  font-size: 0.9em;
  margin: 5px 0 35px;
}

article .image-content
{
  position: relative;
  color:#FFFFFF;
  width: 220px;
  margin: 0 auto;
  font-size: 0.8em;
}

article .image-content .work-views
{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
}

article .image-content time
{
  position: absolute;
  bottom:0;
  right:0;
  padding: 5px;
}


aside ul.team
{
  margin: 0;
  padding: 0;
  width: 100%;
}

aside ul.team li:first-child
{
  margin: 0 auto;
}

aside ul.team li
{
  width: 96%;
  display: inline-block;
  margin: 55px auto 0;
  padding: 0 2%;
  text-align: center;
}

ul.team h3
{
  font-size:1.4em;
  margin: 20px 0 10px;
}

ul.team .worker-post
{
  font-size:1.2em;
  color:#999999;
}

ul.team .worker-desc
{
  font-size: 0.7em;
  padding: 0 20px;
}

ul.team ul.worker-social
{
  padding: 0;
}

ul.team ul.worker-social li
{
  display: inline-block;
    list-style-type: none;
    width: 19%;
    margin: 20px auto;
}

aside ul.stats li
{
  width: 45%;
  display: inline-block;
  margin: 25px auto 0;
  padding: 0 2%;
  text-align: center;
}

ul.stats
{
  padding: 0;
}

ul.stats li .stat-header
{
  font-weight: 700;
  font-size: 1.1em;
  margin: 10px auto 0;
}

ul.stats li .stat-desc
{
  margin: 0 auto 25px;
  font-size: 0.7em;
  color:#898989;
}

article .auth-photo
{
  display: block;
  margin: 0 auto;
}

article .auth-quote , .auth-desc
{
  text-align: center;
}

article .auth-quote
{
  font-weight: 700;
  margin: 5px 0;
}

article .auth-desc
{
  font-size:0.8em;
  margin: 0;
  color:#898989;
}


article blockquote::before
{
  background: url(img/quote.png);
  width: 19px;
  height: 16px;
  display: block;
  content: "";
  margin: 0 auto;
}



article blockquote
{
  text-align: justify;
  color:#898989;
}

article blockquote::after
{
  background: url(img/quote.png);
  width: 19px;
  height: 16px;
  display: block;
  content: "";
  margin: 0 auto;
}

aside ul.contact li
{
  width: 96%;
  display: inline-block;
  margin: 25px auto 0;
  padding: 0 2%;
  text-align: center;
}

ul.contact
{
  padding: 0;
}

ul.contact li
{
  display: inline-block;
  list-style-type: none;
  width: 19%;
  margin: 20px auto;
}

ul.contact li h3
{
  margin: 10px 0;
}

ul.contact li p
{
  font-size: 0.9em;
  color:#898989;
}

aside form input,textarea
{
  width: 70%;
  margin: 2% 15%;
}

aside form > button
{
  display: block;
  border: 0;
  background: #000000;
  color:#FFFFFF;
  padding: 20px;
  font-weight: 700;
  max-width: 150px;
  margin: 30px auto;
}

footer
{
  background: #232527;
}

footer .article-title
{
  color:#FFFFFF;
}

footer article input
{
  width: 72%;
  margin: 0 10%;
  padding: 3%;
}

footer article button
{
  display: block;
  border: 0;
  background: #FFFFFF;
  color:#000000;
  padding: 20px;
  font-weight: 700;
  max-width: 150px;
  margin: 30px auto;

}

footer article ul
{
  text-align: center;
  list-style-type: none;
  padding: 0;
  color:#DDDDDD;
  width: 100%;
  font-size:0.9em;
}

footer article ul:last-child
{
  margin-bottom: 0;
  padding-bottom: 80px;
}

a
{
  text-decoration: none;
  color:#FFFFFF;
}


@media screen and (min-width:763px)
{
  header h1
  {
    width:100%;
    float:left;
  }

  header ul
  {
    width: 25%;
    position: absolute;
    right: 0;
  }

  header .wrapper
  {
    position: relative;
  }

  header .header-title:before
  {
    content:"";
    clear: both;
    display: block;
  }

  header .header-title
  {
    margin:0;
    padding: 240px 0 0;
  }

  article .feature-list p
  {
    text-align: justify;
  }

  article .feature-list li
  {
    width: 46%;
    float: left;
  }

  article ul.feature-list:after
  {
    display: block;
    content:"";
    clear: both;
  }

  article ul.pricing-list li
  {
    width: 28%;
    padding: 0 2%;
  }

  article ul.done-works li h3
  {
    min-height:65px;
  }

  article ul.done-works li
  {
    width:28%;
  }

  article ul.done-works li:nth-child(7),article ul.done-works li:nth-child(8)
  {
    width: 45%;
  }

  aside ul.team li
  {
    width: 45%;
  }

  aside ul.stats li {
    width: 20%;
  }

  aside ul.contact li {
    width: 28%;
  }

  footer
  {
    padding: 1px;
  }

  footer article
  {overflow:auto; }

  footer article ul
  {
  float: left;
  width: 50%;
  }

  footer article ul:nth-child(odd) {
    clear: both;
  }

  footer article ul:last-child
  {
    width: 100%;
  }
}

@media screen and (min-width:992px)
{
  article .feature-list li {
    width: 29%;
  }

  article ul.done-works li, article ul.done-works li:nth-child(7), article ul.done-works li:nth-child(8)
  {
    width: 20%;
  }

  aside ul.team li {
    width: 20%;
  }

  article .article-desc
  {
      max-width: 780px;
      margin: 0 auto;
      padding-bottom: 30px;
  }


  footer article ul
  {
    width: 20%;
  }


  footer article ul:nth-child(odd)
  {
    clear: none;
  }

  footer article ul:last-child
  {
    width:20%;
  }
}
